@model LMS.Models.InstractourModel.Course
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div class="card" style="max-width: 320px" >

    <img height="200" src="~/images/courses/@Model.Image" class="card-img-top object-fit-cover" alt="Product Image">
    <div class="card-body d-flex flex-column justify-content-between">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">@Model.Name</h5>
            <span class="badge rounded-pill badge-secondary">@Model.Category.Name</span>
        </div>
        <p class="card-text mb-1 " style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;">@Model.Description</p>
        <div class="d-flex justify-content-between align-items-center">
            <span class="h5 mb-0">@Model.Price EGP</span>
            <div>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-half text-warning"></i>
                <small class="text-muted">(4.5)</small>
            </div>
        </div>
        <div class="mt-1">
            <img src="~/assets/img/Avatar.jpg" class="rounded-circle shadow-4"
            style="width: 30px;" alt="Avatar" />
            <span class="ms-1">@Model.Instructor.Name</span>
        </div>
    </div>
     @if (SignInManager.IsSignedIn(User)) 
     {
        @if (User.IsInRole("Instructor"))
        {
            <div class="card-footer d-flex justify-content-between bg-light">
                <a asp-action="Edit" asp-route-id="@Model.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a>|
                <a asp-action="Details" asp-route-id="@Model.Id"><i class="fa-solid fa-gears"></i> Details</a>|
                <a asp-action="Delete" asp-route-id="@Model.Id"><i class="fa-solid fa-trash-can"></i> Delete</a>
            </div>

        }
        else
        {
        
            <div class="card-footer d-flex justify-content-between bg-light">

            @if (@Model.Price == 0)
            {
                <form method="post" asp-action="EnrollCourse" asp-controller="Student">
                    <input type="hidden" name="courseId" value="@Model.Id" />
                    <button type="submit" class="btn btn-outline-primary btn-sm">Enroll Now</button>
                </form>
            }
            else
            {
                <form method="post" asp-action="PurchaseCourse" asp-controller="Student">
                    <input type="hidden" name="courseId" value="@Model.Id" />
                    <button type="submit" class="btn btn-primary btn-sm">Purchase</button>
                </form>
            }

            <form method="post" asp-action="AddToWishlist" asp-controller="Student">
                <input type="hidden" name="courseId" value="@Model.Id" />
                <button type="submit" class="btn btn-outline-secondary btn-sm"><i class="bi bi-heart"></i></button>
            </form>
            </div>

        }
     } 
   
      
    
</div>