@model IEnumerable<LMS.Models.StudentModels.CertificateForStudent>

<h2 class="text-center mb-4 text-success">Your Certificates</h2>

@if (!Model.Any())
{
    <p class="text-center text-muted fs-5">You haven't earned any certificates yet.</p>
}
else
{
    <div class="container">
        <div class="row justify-content-center align-items-center">
            @foreach (var cert in Model)
            {
                var course = cert.Course; 
                <hr />
                <div class="certificate-container my-5">
                    <div class="certificate">
                        <div class="water-mark-overlay"></div>
                        <div class="certificate-header">
                            <img src="~/assets/img/Book.svg" class="logo" alt="Course certificate logo">
                        </div>
                        <div class="certificate-body">
                            <p class="certificate-title text-capitalize" ><strong>DIPLOMA  AT @course.Name </strong></p>
                            <h1>Certificate of Completion</h1>
                            <p class="student-name">@cert.Student.Name</p>
                            <div class="certificate-content">
                                <div class="about-certificate">
                                    <p>
                                        has got @cert.Grade on @course.Name online on Date @cert.AcquireDate.ToString("MMMM dd, yyyy")
                                    </p>
                                </div>
                                @{
                                    var coursesCount = course.Lessons?.Count() ?? 0;
                                }
                                <p class="topic-title">
                                    The Topic consists of the following:
                                </p>
                                <div class="text-center">
                                    <p class="topic-description text-muted">@course.Description</p>
                                </div>
                            </div>
                            <div class="certificate-footer text-muted">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Principal: <span class="link-underline-opacity-10-hover text-success">MENTOR</span></p>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>
                                                    Accredited by : ITI
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    Endorsed by : <span>@course.Instructor.Name</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<style>
    body {
        font-family: Roboto;
    }

    .certificate-container {
        padding: 50px;
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
    }

    .certificate {
        border: 20px solid #0C5280;
        padding: 25px;
        position: relative;
        width: 100%;
        box-sizing: border-box;
    }

    .certificate-header > .logo {
        width: 80px;
        height: 80px;
    }

    .certificate-title {
        text-align: center;
    }

    .certificate-body {
        text-align: center;
    }

    h1 {
        font-weight: 400;
        font-size: 48px;
        color: #0C5280;
    }

    .student-name {
        font-size: 24px;
    }

    .certificate-content {
        margin: 0 auto;
        width: 100%;
    }

    .about-certificate {
        width: 100%;
        margin: 0 auto;
    }

    .topic-description {
        text-align: center;
    }

    media (max-width: 768px) {
        .certificate-container ; 

    {
        padding: 20px;
    }

    .certificate {
        padding: 15px;
    }

    .certificate-title h1 {
        font-size: 36px;
    }

    .student-name {
        font-size: 20px;
    }

    }
</style>
