@model IEnumerable<LMS.Models.AppUser>

@{
    ViewData["Title"] = "AllAdmins";
}
<div class="container  my-4 mx-2">
<h1>All Admins</h1>

<p>
        <a asp-action="CreateAdmin" class="text-decoration-none text-success fs-4 fw-bold"><i class="fa-solid fa-user-plus"></i> Create New Admin</a>
</p>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th> @Html.DisplayNameFor(model => model.Email)</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th> @Html.DisplayNameFor(model => model.Email)</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>Admin</td>
                            <td>

                                <a asp-action="DeleteAdmin" asp-route-id="@item.Id" class="text-decoration-none text-danger fw-bold"><i class="fa-solid fa-user-xmark"></i> Delete</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

