@model LMS.Models.InstractourModel.Course

@{
    ViewData["Title"] = "Details";
}

<div class="container pb-5 pt-3">


    <h1>Details</h1>

    <div>
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="m-0">Course</h4>
            @if(User.IsInRole("Admin")){
                <a asp-action="PendingCourseDetails" asp-controller="Admin" asp-route-id="@Model?.Id" class="fs-4"><i class="fa-solid fa-pen-to-square"></i> Manage Course</a>

            }else{

                <a asp-action="Edit" asp-route-id="@Model?.Id" class="fs-4"><i class="fa-solid fa-pen-to-square"></i> Edit Course</a>
            }

        </div>
        <hr />





    </div>

    <div class="row justify-content-center align-items-center">

        <div class="col-md-8 mb-4 row justify-context-center align-items-center">
            <div class=" col-md-4">
                <div>
                    <img class=" w-100 object-fit-cover" src="~/images/courses/@Html.DisplayFor(model => model.Image)" alt="Alternate Text" />
                </div>
            </div>
            <div class=" col-md-8">
                <dl class="row">
                    <dt class="col-sm-3 col-md-4 col-lg-3">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-9 col-md-8 col-lg-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-3 col-md-4 col-lg-3">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-9 col-md-8 col-lg-9">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-3 col-md-4 col-lg-3">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-9 col-md-8 col-lg-9">
                        @Html.DisplayFor(model => model.Price) EGP
                    </dd>

                    <dt class="col-sm-3 col-md-4 col-lg-3">
                        @Html.DisplayNameFor(model => model.IsAccepted)
                    </dt>
                    <dd class="col-sm-9 col-md-8 col-lg-9">
                        @if (Model.IsDeleted)
                        {
                            <span class="text-danger"><i class="fa-solid fa-circle-xmark"></i> Rejected</span>

                        }
                        else if (Model.IsAccepted)
                        {
                            <span class="text-success"><i class="fa-solid fa-circle-check"></i> Accepted</span>
                        }
                        else
                        {
                            <span class="text-info"><i class="fa-solid fa-hourglass-half"></i> Pending</span>
                        }

                    </dd>

                    <dt class="col-sm-3 col-md-4 col-lg-3">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd class="col-sm-9 col-md-8 col-lg-9">
                        @Html.DisplayFor(model => model.Category.Name)
                    </dd>
                    <dt class="col-sm-3 col-md-4 col-lg-3">
                        @Html.DisplayNameFor(model => model.Instructor)
                    </dt>
                    <dd class="col-sm-9 col-md-8 col-lg-9">
                        @Html.DisplayFor(model => model.Instructor.Name)
                    </dd>
                </dl>
            </div>
        </div>


        <div class="col-md-4">
            <h4 class="fw-bolder">
                Course Content
            </h4>
            <div class="accordion" id="accordionExample">
                @foreach (var chapter in Model.Chapters)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed d-flex gx-5" type="button" data-bs-toggle="collapse" data-bs-target='#@chapter.ID' aria-expanded="true" aria-controls="@chapter.ID">
                                <strong class="text-capitalize">@chapter.Name</strong>
                            </button>
                        </h2>
                        <div id="@chapter.ID" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                @foreach (var lesson in chapter.Lessons)
                                {
                                    <hr />
                                    <div>
                                        <span class="text-primary">@lesson.Name</span>

                                    </div>
                                }

                            </div>
                        </div>
                    </div>

                }

            </div>

        </div>


    </div>

    @* CHAPTERS *@




<div>
    
</div>
</div>