@model LMS.Models.InstractourModel.Course

@{
    ViewData["Title"] = "Details";
}

<div class="container">


    <h1>Details</h1>

    <div>
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="m-0">Course</h4>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="fs-4"><i class="fa-solid fa-pen-to-square"></i> Edit Course</a>

        </div>
        <hr />
        <div class="row mb-4 g-5">
            <div class=" col-md-6 col-lg-3">
                <div>
                    <img  class=" w-100 object-fit-cover" src="~/images/courses/@Html.DisplayFor(model => model.Image)" alt="Alternate Text" />
                </div>
            </div>
            <div class=" col-md-6 col-lg-9">
                <dl class="row">
                    <dt class="col-sm-3 col-md-4 col-lg-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-9 col-md-8 col-lg-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-3 col-md-4 col-lg-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-9 col-md-8 col-lg-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-3 col-md-4 col-lg-2">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-9 col-md-8 col-lg-10">
                        @Html.DisplayFor(model => model.Price) EGP
                    </dd>

                    <dt class="col-sm-3 col-md-4 col-lg-2">
                        @Html.DisplayNameFor(model => model.IsAccepted)
                    </dt>
                    <dd class="col-sm-9 col-md-8 col-lg-10">
                        @if (Model.IsDeleted)
                        {
                            <span class="text-danger"><i class="fa-solid fa-circle-xmark"></i> Rejected</span>

                        }
                        else if (Model.IsAccepted)
                        {
                            <span class="text-success"><i class="fa-solid fa-circle-check"></i> Accepted</span>
                        }
                        else
                        {
                        <span class="text-info"><i class="fa-solid fa-hourglass-half"></i> Pending</span>
                        }

                    </dd>
               
                    <dt class="col-sm-3 col-md-4 col-lg-2">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd class="col-sm-9 col-md-8 col-lg-10">
                        @Html.DisplayFor(model => model.Category.Name)
                    </dd>
                    <dt class="col-sm-3 col-md-4 col-lg-2">
                        @Html.DisplayNameFor(model => model.Instructor)
                    </dt>
                    <dd class="col-sm-9 col-md-8 col-lg-10">
                        @Html.DisplayFor(model => model.Instructor.Name)
                    </dd>
                </dl>
        </div>
    </div>
   
 @* CHAPTERS *@
</div>
    <div class="accordion" id="accordionExample">
        <h3 class="fw-bold"><a asp-action="CreateChapter" asp-route-id="@Model?.Id" class="p-2 btn btn-outline-success rounded-2">+Add Chapter</a></h3>
        @foreach(var chapter in Model.Chapters){
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed d-flex gx-5" type="button" data-bs-toggle="collapse" data-bs-target='#@chapter.ID' aria-expanded="true" aria-controls="@chapter.ID">
                        <strong class="text-capitalize">@chapter.Name</strong>
                    </button>
                </h2>
                <div id="@chapter.ID" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <a asp-action="CreateLesson" asp-route-chId="@chapter.ID"><strong> +Add Lesson</strong></a>
                        @foreach (var lesson in chapter.Lessons)
                        {
                            <hr />
                            <div>
                                <span class="text-primary">@lesson.Name</span>

                            </div>
                        }
                                     
                    </div>
                </div>
            </div>

        }

     
        
    </div>
    @* CHAPTERS *@




<div>
    
    <a asp-action="Index">Back to List</a>
</div>
</div>