@model IEnumerable<LMS.ViewModel.Inst.CourseIncomeViewModel>
@{
    dynamic instIncome = ViewBag.instIncome ;

    dynamic MentorService = instIncome.TotalIncome * 10 / 100;
    dynamic TotalProfits = instIncome.TotalIncome - MentorService;

}



<div class="py-3">
    <h3>Instructor Overview</h3>
    @if (instIncome != null)
    {
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="d-flex gap-2 align-items-center">
                    <img width="80" height="80" class="rounded-circle" src="@ViewBag.ProfilImg" alt="Trainer">
                    <strong class="fs-4">@instIncome.InstName</strong>
                </div>

                <p><strong>ID: </strong><span class="text-black-50">@instIncome.InstID</span> </p>
                <div class="mt-4">
                    <p><strong><i class="fa-solid fa-book-open"></i> Total Courses:</strong> @instIncome.CoursesCount</p>
                    <p><strong><i class="fa-solid fa-people-line"></i> Total Students:</strong> @instIncome.StudentsCount</p>
                </div>

            </div>
            <div class="col-lg-7 d-flex gap-5 justify-content-between">
                <div>
                <p><strong>Budget:</strong></p>
                    <p class="text-success fs-3">+ @instIncome.TotalIncome EGP</p>

                </div>
                <div>
                    <p><strong>Mentor Service </strong></p>
                    <p class="text-danger fs-3">- @MentorService EGP</p>

                </div>
                <div>
                    <p><strong>Total Earnings:</strong></p>
                    <p class="text-success fs-3">+ @TotalProfits EGP</p>

                </div>


            </div>
        </div>
     

       
    }
    else
    {
        <div class="alert alert-primary" role="alert">
            No instructor data available.
        </div>
    }

    <div class="card mb-4 shadow">
        <div class="card-header d-flex justify-content-between">
            <span>

            <i class="fas fa-table me-1"></i>
            My Courses 
            </span>

            <span class="fw-bold"> <a href="@Url.Action("Create")">+ Create New Course</a></span>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Amount</th>
                        <th>Students Count</th>
                        <th>Category</th>
                        <th>Instructor</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Course Name</th>
                        <th>Amount</th>
                        <th>Students Count</th>
                        <th>Category</th>
                        <th>Instructor</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CourseName</td>
                            <td>@item.Amount</td>
                            <td>@item.StudentsCount</td>
                            <td>@item.CategoryName</td>
                            <td>@item.InstructorName</td>
                            <td>
                                <a href="@Url.Action("Edit", new { id = item.courseID })" class="fw-bold"><i class="fa-solid fa-pen-to-square"></i> Edit</a> |
                                <a href="@Url.Action("Details", new { id = item.courseID })" class="fw-bold"><i class="fa-solid fa-eye"></i> Details</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    </div>
